<div class="main user-show">
  <div class="container">
    <div class="over-user-show">
      <% if @user.id == @current_user.id%>
      <div class="user-foot">
        <%= link_to("アカウント編集","/users/#{@user.id}/edit")%>
      </div>
      <% end %>
      <div class="body">
        <img class="showmian" src="<%= "/user_images/#{@user.image_name}" %>">
        <h3><%= @user.name %></h3>
      </div>
    </div>

    <div class="under-user-show">
      <div class="under-user-show-header">
        <div class="lesson">
          <div class="show-post">
            投稿
          </div>
        </div>
        <div class="lesson">
          <div class="show-comment">
            <%= link_to("コメント","/users/#{@user.id}/comment") %>
          </div>
        </div>
        <div class="lesson">
          <div class="show-like">
            <%= link_to("いいね","/users/#{@user.id}/likes")%>
          </div>
        </div>
      </div>
      <% @user.posts.each do |post| %>
      <div class="post-index-item">
        <div class="post-index-left">
          <img class="post-icon" src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-index-right">
          <div class="post-user-name">
            <%= link_to(post.user.name,"/users/#{post.user.id}") %>
          </div>
          <div class="post-user-content">
            <%= link_to(post.content,"/posts/#{post.id}") %>
          </div>

          <div class="post-index-bottom">
            <div class="user-show-left">
              <div class="user-show-heart">
                <div class="user-show-heart-icon">
                <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                  <%= link_to("/likes/#{post.id}/destroy_user_show",{method: "post"}) do %>
                    <span class="fa fa-heart like-btn-unlike"></span>
                  <% end %>
                <% else %>
                  <%= link_to("/likes/#{post.id}/create_user_show",{method: "post"}) do %>
                  <span class="fa fa-heart like-btn"></span>
                  <% end %>
                <% end %>
                </div>

                <div class="user-show-heart-count">
                <% @likes_count = Like.where(post_id: post.id).count %>
                <% if @likes_count > 0 %>
                  <%= @likes_count %>
                <% end %>
                </div>

              </div>

              <div class="user-show-comment">

                <div class="user-show-comment-icon">
                  <%= link_to("/posts/#{post.id}/comment") do %>
                  <span class="fa fa-comment iconicon"></span>
                  <% end %>
                </div>

                <div class="user-show-comment-count">
                  <% @comment_count = Comment.where(post_id: post.id).count %>
                  <% if @comment_count > 0 %>
                    <%= @comment_count %>
                  <% end %>
                </div>

              </div>

            </div>


            <div class="post-time user-show-right">
              <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
